.App {
  text-align: center;
}

a {
  text-decoration: none;
}

/* .movies-list {
  background-image: url("https://www.istockphoto.com/vector/marquee-and-curtain-background-gm1208666888-349453916");
} */